<div class="all_content">
    <div class="profil-info-content">
        <div class="img-person-border">
            <img class="img-profil" alt="profil" src="../../assets/images/jesus.jpeg">
        </div>
        <div class="setting-and-rang">
            <button class="setting-btn"><img class="img-setting" alt="Setting prifil"
                    src="../../assets/images/setting.png"></button>
            <div class="rang-div">
                <img class="img-rang" alt="rang" src="../../assets/images/rang.png">
                <h6 class="rang-number">{{user.rank}}({{user.stars}})</h6>
            </div>
        </div>
        <div class="name-person">
            <img alt="name" class="img-name-panel" src="../../assets/images/name-panel.png">
            <h6 class="name-text">{{user.name}}</h6>
        </div>
        <div class="texts-panel-content">
            <div class="text-panel">
                <h5 class="text-in-panel">Победы : {{user.winCount}}</h5>
            </div>
            <div class="text-panel">
                <h5 class="text-in-panel">Золото : {{user.gold}}</h5>
            </div>
        </div>
    </div>
    <div class="middle-content">
        <div class="reg-game-button-div">
            <button class="reg-game-button" (click)="ToGameConnection()">
                <img class="img-reg-game-button" alt="To Game" src="../../assets/images/fight-button.png">
            </button>
        </div>
        <div class="Chat-content">
            <h2 style="padding-top: 10%; padding-left: 7%;">this.will.be.chat.motherfuckaaaa</h2>
        </div>
    </div>
    <div class="right-content">
        <div class="friend-panel">
            <div class="friends-content">
                <img class="img-friend-text" alt="nostalgij vechna" src="../../assets/images/friend-text.png">

                <!--friends-->
                <div class="friends-content-scroll">
                    <div *ngFor = "let usr of user.friends" class="friend">
                        <div class="friend-ramka"><img class="img-friend" src="../../assets/images/default-friend.jpg">
                        </div>
                        <div class="friend-content-panel">
                            <div class="friend-up-content-panel">
                                <div class="friend-rang">
                                    <img class="img-friend-rang" src="../../assets/images/rang.png">
                                    <h6 class="friend-rang-number">{{usr.rank}}</h6>
                                </div>
                                <div class="text-name-panel">
                                    <label class="text-name-label">{{usr.name}}</label>
                                </div>
                                <div class="delete-button-panel">
                                    <button class="friend-delete-button"><img alt="delete" class="img-friend-delete"
                                            src="../../assets/images/delete-button.png"></button>
                                </div>
                            </div>
                            <div class="friend-down-content-panel">
                                <div class="online-friend-panel">
                                    <ng-template [ngIf]="usr.online" [ngIfElse] ="offline">
                                        <img  class="img-online-cercle" src="../../assets/images/online-circle.png">
                                    </ng-template>
                                </div>
                                <button class="To-fight-frind-btn"><img alt="Дуэль" class="img-to-fight-btn"
                                        src="../../assets/images/to-fight-friend-button.png"></button>
                                <button class="To-write-frind-btn"><img alt="Написать" class="img-to-write-btn"
                                        src="../../assets/images/write-friend.png"></button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="search_Window" [ngStyle]="{'display': gameSearch ? 'block' : 'none'}">
    </div>
<div class="search_penel" [ngStyle]="{'display': gameSearch ? 'block' : 'none'}">
    <div>
        <img class="loading_img loading_img_left" src="../../assets/images/loading_circle.png">
        <img class="loading_img loading_img_right" src="../../assets/images/loading_circle.png">
    </div>
    <button class="exit_search_btn" (click)="exitSearchGame()">
        <img class="img-reg-game-button" src="../../assets/images/exit.png">
    </button>
</div>

<ng-template #offline>
    <img class="img-online-cercle" src="../../assets/images/offline-circle.png">
</ng-template>