<div class="game-mode">
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2 right-block-users">
                <h4 class="d-flex justify-content-between mb-3"> <span class>Бой №1</span> </h4>
                <div class="card"> <img class="your_avatar" src="avatar.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Никнейм</h4>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">Выиграно</h6> <small class="text-muted">в этом раунде</small>
                        </div> <span class="text-muted">19</span>
                    </li>
                </ul>
                <form class="card">
                    <div class="input-group">
                        <input class="form-control" placeholder="Поднять ставку" [(ngModel)]="upBetString" name="bet" />
                        <div class="input-group-append">
                            <button (click)="upBet()" class="btn-primary btn-block">Поднять ставку</button>
                        </div>
                    </div>
                </form>
                <li class="list-group-item d-flex justify-content-between bg-light my-2">
                    <div class="text-success">
                        <h6 class="my-0"><b>{{gameManager.message}}</b></h6> <small>Общая игровая информация</small>
                    </div>
                </li>
                <div class="progress progress-bar-animated my-2">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar">Время раунда: 22 сек</div>
                </div><button class="btn btn-primary btn-block">ПАС</button><button
                    class="btn btn-primary btn-block">В ОЛЛИН</button><button
                    class="btn btn-primary btn-block" (click)="acceptBet()">ПРИНЯТЬ СТАВКУ</button>
                <div class="card mt-2"> <img class="your_avatar" src="avatar.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Никнейм</h4>
                    </div>
                </div>
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6 class="my-0">Выиграно</h6> <small class="text-muted">в этом раунде</small>
                    </div> <span class="text-muted">20</span>
                </li>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Раунд 1</h4>
                <form class="needs-validation"> </form>

                <div class="row"></div>
                <div class="card">
                    <div class=" doska-game card-body">
                        <h5 class="card-title"><b>Игрок 1</b></h5>
                        <div class="kosti-round">
                            <div class="kosti-round" *ngFor="let img of cubesEnemy">
                                <div class="cube" style="margin: 15px;">
                                    <img class="cube_img" [src]="img" alt="cube">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-primary" (click)="rollCubes()">{{rollButtonText}}</button>
                    <div class=" doska-game card-body">
                        <h5 class="card-title"><b>Игрок 2</b></h5>
                        <div class="kosti-round">
                            <div class="kosti-round" *ngFor="let img of cubesInfo">
                                <div class="cube" style="margin: 5px;" (click)="choseChangeCubes(img.indexCubeOnTable)" 
                                [ngStyle]="{'background-color':cubesInfo[img.indexCubeOnTable].change == true && rollCount == 1? 'red' : ''}">
                                    <img class="cube_img" style="margin: 10px;" [src]="img.img" alt="cube">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>