.all-content{
    background-image: url(../../assets/images/BG_CM_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.game-table{
    background-image: url(../../assets/images/game-table.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 63%;
    height: 100%;
}
.all-table-panel{
    display: inherit;
    width: 100vw;
    height: 46vw;
    margin-top: 3.5%;
}
.win-panel{
    width: 4%;
    height: 100%;
    position: relative;
    display: inline;
    margin-right: 0.2%;
}
.win-content-panel{
    background-image: url(../../assets/images/win_panel.png);
    background-size: cover;
    height: 75%;
    width: 90%;
    margin-left: 10%;
    margin-top: 120%;
    background-position-x: 12%;
}
.img-win_stone{
    width: 110%;
    margin-top: 40%;
}
.enemy-win-stone-panel{
    width: 35%;
    height: 15%;
    right: 0;
    position: absolute;
    margin-top: 85%;
    display: block;
}
.raund-number-panel{
    width: 70%;
    height: 14%;
    margin-top: 365%;
    position: absolute;
    right: -10%;
}
.img-raund-number{
    width: 100%;
}
.user-win-stone-panel{
    width: 35%;
    height: 15%;
    right: 0;
    bottom: 22%;
    position: absolute;
}
/*ENEMY*/
.enemy-side{
    width: 100%;
    height: 50%;
}
.enemy-dice-panel{
    width: 50%;
    height: 100%;
    float: right;
}
.dice{
    width: 20%;
    height: 100%;
    display: inline-block;
}
.dice-hover :hover{
    width: 150%;
    height: 150%;
    margin-top: -40%;
}
.enemy-dice-0 {
    width: 65%;
    height: 17%;
    margin-top: 65%;
    margin-left: 10%;
    cursor: pointer;
}
.enemy-dice-1{
    width: 65%;
    height: 17%;
    margin-top: 75%;
    margin-left: 10%;
    cursor: pointer;
}
.enemy-dice-2{
    width: 65%;
    height: 17%;
    margin-top: 99%;
    margin-left: 10%;
    cursor: pointer;
}
.enemy-dice-3{
    width: 65%;
    height: 17%;
    margin-top: 143%;
    margin-left: 1%;
    cursor: pointer;
}
.enemy-dice-4{
    width: 65%;
    height: 17%;
    margin-top: 200%;
    margin-left: -18%;
    cursor: pointer;
}
.img-dice{
    width: 100%;
    height: 100%;
    display: block;
    
}
/*USER*/
.user-side{
    width: 100%;
    height: 50%;
}
.user-dice-0{
    width: 65%;
    height: 17%;
    margin-top: 90%;
    margin-left: 18%;
    cursor: pointer;
}
.user-dice-1{
    width: 65%;
    height: 17%;
    margin-top: 147%;
    margin-left: -1%;
    cursor: pointer;
}
.user-dice-2{
    width: 65%;
    height: 17%;
    margin-top: 188%;
    margin-left: -11%;
    cursor: pointer;
}
.user-dice-3{
    width: 65%;
    height: 17%;
    margin-top: 212%;
    margin-left: -11%;
    cursor: pointer;
}
.user-dice-4{
    width: 65%;
    height: 17%;
    margin-top: 223%;
    margin-left: -10%;
    cursor: pointer;
}
.user-dice-panel{
    width: 50%;
    height: 100%;
    margin-left: 5%;
}
/*Control panel*/
.control-panel{
    background-image: url(../../assets/images/control-panel.png);
    background-size: cover;
    width: 35%;
    height: 110%;
    margin-left: -0.5%;
    margin-top: -4%;
}
.control-panel-content{
    width: 73%;
    height: 66%;
    margin-top: 35%;
    margin-left: 10%;
}
.game-control-panel{
    width: 100%;
    height: 20%;
    margin-bottom: 0.5%;
    position: relative;
}
.all-bet-and-timer-panel{
    height: 10%;
}
.buttons-control-panel{
    height: 30%;
}
.person-left-panel{
    width: 75%;
    height: 100%;
    position: absolute;
    display: inline-block;
}
.person-right-panel{
    background-image: url(../../assets/images/ramka_for_friend.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    display: inline-block;
}
.img-person{
    width: 57%;
    position: absolute;
    margin-top: 20%;
    margin-left: 12%;
}
.person-left-panel-up{
    background-image: url(../../assets/images/name_panel_person.png);
    background-size: 115%;
    background-position-y: 55%;
    background-position-x: 40%;
    background-repeat: no-repeat;
    width: 96%;
    height: 48%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.name-text{
    width: 52%;
    height: 55%;
    margin-top: 2.6%;
    margin-left: 26%;
    color: honeydew;
    font-size: 1.5vw;
    font-family: cursive;
    text-align: center;
}
.img-rang{
    width: 100%;
    position: absolute;
}
.rang-number-text{
    padding-left: 20%;
    padding-top: 5%;
    position: absolute;
    font-size: 120%;
    font-family: fantasy;
    text-align: center;
    font-size: 1.9vw;
}
.person-left-panel-down{
    width: 100%;
    height: 45%;
    right: 0;
    position: relative;
}
.person-left-panel-down-hello{
    height: 100%;
    width: 82%;
    position: absolute;
}
.person-left-panel-down-rang{
    height: 100%;
    width: 18%;
    position: absolute;
    right: 0;
}
.info-panel-context{
    background-image: url(../../assets/images/info-text-panel.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.info-text-label{
    color: white;
    margin-top: 5%;
    margin-left: 11%;
    width: 76%;
    height: 68%;
    font-family: cursive;
    text-align: center;
    background-color: transparent;
    font-size: 1.1vw;
    border: 0px;
    line-height: 0.7;
}
.all-bet-panel{
    background-image: url(../../assets/images/gold_panel.png);
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
}
.bet-timer-panel{
    color: white;
    margin-top: 7%;
    margin-left: 11%;
    width: 75%;
    font-family: cursive;
    text-align: center;
    font-size: 1.1vw;
}
.timer-panel{
    background-image: url(../../assets/images/timer_panel.png);
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}
.roll-btn-panel{
    height: 100%;
    width: 35%;
    position: absolute;
}
.img-roll-btn{
    width: 130%;
    margin-top: -15%;
    margin-left: -15%;
}
.all-controls-btn-panel{
    height: 100%;
    width: 65%;
    position: absolute;
    right: 0;
}
.btn-controll{
    width: 45%;
    height: 30%;
    margin-right: 3%;
    background-color: transparent;
    border: 0;
}
.img-bnt-control{
    width: 120%;
    height: 100%;
}
.user-gold-panel{
    background-image: url(../../assets/images/user_gold_panel.png);
    background-size: cover;
    height: 100%;
    width: 58%;
    position: absolute;
    right: 19%;
}
.user-gold-text{
    color: darkgoldenrod;
    margin-top: 2%;
    margin-left: 2%;
    width: 55%;
    font-family: monospace;
    text-align: right;
    font-size: 1.9vw;
}
.input-gold{
    width: 43%;
    margin: 2.5%;
    margin-left: 4.5%;
    position: relative;
    height: 20%;
    background-color: black;
    border-color: darkgoldenrod;
    color: white;
    text-align: center;
}
.btn-pass{
    margin-top: 2.5%;
    width: 95%;
}
.roll-btn{
    width: 85%;
    height: 85%;
    margin: 7.5%;
    background-color: transparent;
    border: 0;
}