<div class="logo">
  <img class="logo-img" alt="logo" src="../../assets/images/logo.png">
</div>
<div class="login-content">
  <div>
    <form id="slick-login" class="login-form">
      <label for="username">Почта:</label><input type="text" [(ngModel)]="login.mail" name="mail" class="placeholder" placeholder="admin@example.com">
      <label for="password">Пароль:</label><input type="password" [(ngModel)]="login.password" name="password" class="placeholder" placeholder="Сложный пароль...">   
		
        <button class="login-btn" (click)="goToPersonManager()"><img class="img-button" [src]="imgEnter"></button>
        <button class="login-btn" (click)="goToRegister()"><img class="img-button" [src]="imgReg"></button>
  </form>	
  </div> 
</div>
